*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A;
    border:none;
    padding: 18px 35px ;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}